<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Transaction Report</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<div className="main-info">
			<p><strong>Account number:</strong> **3456</p>
			<p><strong>Bank name:</strong> equity</p>
			<p><strong>IFSC code:</strong></p>
			<p><strong>Total available balance:</strong> 10000</p>
		</div>
		<br />
		<h4>Detailed transactions between 16th April 2022 and Invalid date</h4>
		<table class="report-table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Deposits</th>
					<th>Withdrawals</th>
					<th>Balance</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2022-04-16</td>
					<td>2000</td>
					<td></td>
					<td>10000</td>
				</tr>

				<tr>
					<td>2022-04-16</td>
					<td>2000</td>
					<td></td>
					<td>8000</td>
				</tr>

				<tr>
					<td>2022-04-16</td>
					<td>2000</td>
					<td></td>
					<td>6000</td>
				</tr>

				<tr>
					<td>2022-04-16</td>
					<td>2000</td>
					<td></td>
					<td>4000</td>
				</tr>

				<tr>
					<td>2022-04-16</td>
					<td>2000</td>
					<td></td>
					<td>2000</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
